version: '3.9'
name: tp1
services:
    server:
        volumes:
            - ./server/config.ini:/config.ini
        container_name: server
        build: 
            context: ./server
            dockerfile: ./endpoint/Dockerfile
        entrypoint: python3 ./endpoint/main.py
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=INFO  
        networks:
            - client-server
            - rabbitmq-net

    client:
        container_name: client
        volumes:
            - ./client/config.ini:/config.ini
        build: ./client
        entrypoint: python3 /main.py
        environment:
            - LOGGING_LEVEL=INFO
        networks:
            - client-server
        depends_on:
            - server
    
    weather_processor:
        container_name: 'weather_processor'
        build: 
            context: ./server
            dockerfile: ./weather_processor/Dockerfile
        entrypoint: python3 ./weather_processor/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            
    trips_processor:
        container_name: 'trips_processor'
        build: 
            context: ./server
            dockerfile: ./trips_processor/Dockerfile
        entrypoint: python3 ./trips_processor/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
        
    montreal_stations:
        container_name: 'montreal_stations'
        build: 
            context: ./server
            dockerfile: ./montreal_stations/Dockerfile
        entrypoint: python3 ./montreal_stations/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
        
    montreal_trips:
        container_name: 'montreal_trips'
        build: 
            context: ./server
            dockerfile: ./montreal_trips/Dockerfile
        entrypoint: python3 ./montreal_trips/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG

    stations_processor:
        container_name: 'stations_processor'
        build: 
            context: ./server
            dockerfile: ./stations_processor/Dockerfile
        entrypoint: python3 ./stations_processor/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG 

    rainy_days:
        container_name: 'rainy_days'
        build: 
            context: ./server
            dockerfile: ./rainy_days/Dockerfile
        entrypoint: python3 ./rainy_days/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG

    duration_mean:
        container_name: 'duration_mean'
        build: 
            context: ./server
            dockerfile: ./duration_mean/Dockerfile
        entrypoint: python3 ./duration_mean/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG    

    rabbitmq:
        container_name: 'rabbitmq'
        image: rabbitmq:3.9.16-management-alpine
        networks:
            - rabbitmq-net
        ports:
            - 5672:5672
            - 15672:15672
        healthcheck:
            test: rabbitmq-diagnostics -q ping
            interval: 10s
            timeout: 5s
            retries: 10

networks:
    rabbitmq-net:
        driver: bridge
    client-server:
        ipam:
            driver: default
            config:
                - subnet: 172.25.125.0/24

        


                

  
