version: '3.9'
name: tp1
services:
    server:
        volumes:
            - ./server/config.ini:/config.ini
        build: 
            context: ./server
            dockerfile: ./endpoint/Dockerfile
        entrypoint: python3 ./endpoint/main.py
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=INFO  
            - TRIP_PROCESSOR_AMOUNT=3
            - WEATHER_PROCESSOR_AMOUNT=3
            - STATION_PROCESSOR_AMOUNT=3
        networks:
            - client-server
            - rabbitmq-net

    client:
        volumes:
            - ./client/config.ini:/config.ini
        build: ./client
        entrypoint: python3 /main.py
        environment:
            - LOGGING_LEVEL=INFO
        networks:
            - client-server
        depends_on:
            - server
    
    weather_processor:
        build: 
            context: ./server
            dockerfile: ./weather_processor/Dockerfile
        entrypoint: python3 ./weather_processor/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            
    trips_processor:
        build: 
            context: ./server
            dockerfile: ./trips_processor/Dockerfile
        entrypoint: python3 ./trips_processor/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - MONTREAL_TRIPS_AMOUNT=3
            - YEAR_FILTER_AMOUNT=3            
        
    montreal_stations:
        build: 
            context: ./server
            dockerfile: ./montreal_stations/Dockerfile
        entrypoint: python3 ./montreal_stations/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - STATION_PROCESSOR_AMOUNT=3
            - HARVERSINE_DISTANCE_AMOUNT=3
        
    montreal_trips:
        build: 
            context: ./server
            dockerfile: ./montreal_trips/Dockerfile
        entrypoint: python3 ./montreal_trips/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - TRIP_PROCESSOR_AMOUNT=3
            - HARVERSINE_DISTANCE_AMOUNT=3

    year_filter:
        build: 
            context: ./server
            dockerfile: ./year_filter/Dockerfile
        entrypoint: python3 ./year_filter/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - TRIP_PROCESSOR_AMOUNT=3     

    stations_processor:
        build: 
            context: ./server
            dockerfile: ./stations_processor/Dockerfile
        entrypoint: python3 ./stations_processor/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG 
            - MONTREAL_STATION_AMOUNT=3
    rainy_days:
        build: 
            context: ./server
            dockerfile: ./rainy_days/Dockerfile
        entrypoint: python3 ./rainy_days/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - TRIP_PROCESSOR_AMOUNT=3
            - WEATHER_PROCESSOR_AMOUNT=3
            - DURATION_MEAN_AMOUNT=3  
    
    trip_count:
        build: 
            context: ./server
            dockerfile: ./trip_count/Dockerfile
        entrypoint: python3 ./trip_count/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - STATION_PROCESSOR_AMOUNT=3
            - YEAR_FILTER_AMOUNT=3
    
    trip_count_joiner:
        build: 
            context: ./server
            dockerfile: ./trip_count_joiner/Dockerfile
        entrypoint: python3 ./trip_count_joiner/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
    
    harversine_distance:
        build: 
            context: ./server
            dockerfile: ./harversine_distance/Dockerfile
        entrypoint: python3 ./harversine_distance/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - MONTREAL_STATION_AMOUNT=3
            - MONTREAL_TRIPS_AMOUNT=3  
            - DISTANCE_MEAN_AMOUNT=3  

    duration_mean:
        build: 
            context: ./server
            dockerfile: ./duration_mean/Dockerfile
        entrypoint: python3 ./duration_mean/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG              
    
    distance_mean:
        build: 
            context: ./server
            dockerfile: ./distance_mean/Dockerfile
        entrypoint: python3 ./distance_mean/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - HARVERSINE_DISTANCE_AMOUNT=3            

    distance_mean_joiner:
        build: 
            context: ./server
            dockerfile: ./distance_mean_joiner/Dockerfile
        entrypoint: python3 ./distance_mean_joiner/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG
            - DISTANCE_MEAN_AMOUNT=3

    duration_mean_joiner:
        build: 
            context: ./server
            dockerfile: ./duration_mean_joiner/Dockerfile
        entrypoint: python3 ./duration_mean_joiner/main.py
        networks:
            - rabbitmq-net
        depends_on:
            rabbitmq:
                condition: service_healthy
        environment:
            - LOGGING_LEVEL=DEBUG 
            - DURATION_MEAN_AMOUNT=3  

    rabbitmq:
        image: rabbitmq:3.9.16-management-alpine
        networks:
            - rabbitmq-net
        ports:
            - 5672:5672
            - 15672:15672
        volumes:
            - ./server/20-logging.conf:/etc/rabbitmq/conf.d/20-logging.conf
        healthcheck:
            test: rabbitmq-diagnostics -q ping
            interval: 10s
            timeout: 5s
            retries: 10

networks:
    rabbitmq-net:
        driver: bridge
    client-server:
        ipam:
            driver: default
            config:
                - subnet: 172.25.125.0/24

        


                

  
